/* this is the page change fade animation if you wanna remove it */
@view-transition {
    navigation: auto;
}

:root {
    color-scheme: light dark;
}

/* light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: #d1d1d1
    }
}

/* dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #2e2e2e
    }
}

/* responsiveness */
@media (min-width: 768px) {
    h1 {
        font-size: 45px !important;
    }

    .column,
    .column_left {
        flex: 1 1 100%;
    }
}

body {
    color: CanvasText;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


/* ANIMATED BACKGROUND BY CHRIS SMITH. LINK: https://codepen.io/chris22smith/pen/RZogMa*/

.bg {
    animation: slide 8s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(59, 86, 85) 50%, rgb(148, 162, 172) 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 10s;
}

.bg3 {
    animation-duration: 12s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

/* --------- */

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

/* HEADER */

.headerContainer {
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
}

/* BORDERS */

/* clear border for a fixed amount */
.clear_bordering_fixed {
    border: 1px solid #6a6a6a;
    font-size: 17px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 14px;
    padding-left: 10px;
    width: fit-content;
    max-height: 180px;
    overflow-y: auto;
    margin-bottom: 12px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-sizing: border-box;
    border-radius: 25px;
}

/* main clear bordering that is responsive */
.clear_bordering {
    border: 1px solid #6a6a6a;
    font-size: 17px;
    padding: 3px 25px 20px 25px;
    margin: 30px auto 12px auto;
    width: 95%;
    max-width: 1100px;
    max-height: 80%;
    overflow: auto;
    word-wrap: break-word;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-sizing: border-box;
    border-radius: 25px;
}

/* clear responsive bordering but less clear */
.slight_clear_bordering {
    border: 1px solid #6a6a6a;
    font-size: 17px;
    padding: 3px 25px 20px 25px;
    margin: 5px auto 12px auto;
    width: 95%;
    max-width: 1100px;
    max-height: 80%;
    overflow: auto;
    word-wrap: break-word;

    background-color: rgba(61, 61, 61, 0.9);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-sizing: border-box;
    border-radius: 25px;
}

/* clear bordering for the preview output box on template page */
.clear_bordering_out_box {
    border: 1px solid #6a6a6a;
    font-size: 17px;
    padding: 3px 5px 20px 5px;
    margin: 20px auto 12px auto;
    max-width: 50%;
    max-height: 80%;
    overflow: auto;
    word-wrap: break-word;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-sizing: border-box;
    border-radius: 25px;
}

/* BUTTONS */

button,
.btn {
    padding: 10px 16px;
    margin: 5px 0;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;

    background-color: #627277;
    color: white;
}

.clear_btn {
    border: 1px solid #6a6a6a;
    font-size: 17px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 25px;
    padding-left: 25px;
    width: fit-content;
    max-height: fit-content;
    overflow-y: auto;
    margin-bottom: 12px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-sizing: border-box;
    border-radius: 25px;
}

.big-btn {
    padding: 12px 18px;
    margin: 5px 0;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;

    background-color: #627277;
    color: white;
}

button:hover,
.btn:hover,
.clear_btn:hover,
.big-btn:hover {
    background-color: #7b8f95;
}

/* ALIGNING */

/* grid format */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.column {
    flex: 1 1 300px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column_left {
    flex: 1 1 300px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

/* horizontal centering */
.h-aligning {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}

/* vertical centering */
.v-aligning {
    margin-top: 200px;
}

/* spacing for text areas */
.text_spacing {
    margin-top: 10px;
    margin-bottom: 5px
}

/* padding for selection boxes */
#answer,
#questionTypes,
#tagSelection,
#languageSelection {
    padding-inline-start: 8px;
}

/* PROGRESS BAR */

.progressbar {
    margin: auto;
    padding: 10px;
    max-width: 70%;
    max-height: 80%;
    overflow: auto;
    word-wrap: break-word;
}

/*
* BEGIN ETHAN STYLING FOR ANSWER OPTIONS
* I do not claim to enjoy web design.
* I have given it my best shot, but the main goal was to HAVE the non-native style.
* Please change colors etc as needed and remove any states you deem unnecessary.
*/


ul.answer li {
    padding: 12px 18px;
    margin: 5px 0;
    font-size: 18px;
    border: 1px solid #627277;
    border-radius: 5px;
    text-decoration: none;
    background-color: none;
    color: white;
    position: relative;
}

ul.answer li input[type="radio"],
ul.answer li input[type="checkbox"] {
    appearance: none;
    display: none;
}

ul.answer li {
    transition: background-color 0.1s;
}

/* this one "stretches", if you will, the label to cover the entire list item */
ul.answer li label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

ul.answer li:hover {
    background-color: #6a6a6a;
}

ul.answer li:has(input:checked):hover {
    background-color: #627277;
}

ul.answer li:has(input:checked) {
    background-color: #7b8f95;
}

ul.answer li:has(input:disabled) {
    cursor: not-allowed;
    pointer-events: none;
    filter: grayscale(100%) brightness(50%);
}

/* feeble attempt */
textarea.answer {
    padding: 12px 18px;
    margin: auto;
    width: 90%;
    font-size: 18px;
    border: 1px solid #627277;
    border-radius: 5px;
    text-decoration: none;
    background-color: none;
    color: white;
}