<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Ctrl Study</title>
        {% endif %}
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div style="margin-bottom: 15px;">
            <strong>Ctrl Study</strong> |
            <a href="/" class="btn">Home</a>
        </div>
        <hr />

        {% block body %}
        {% endblock %}
    </body>
</html>
