{% extends "base.html" %}

{% block body %}
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<h1 style="text-align: center; font-size: 65px;font-family: monospace;">Credits</h1>
<p style="text-align: center;;">
    Ctrl-Study is a group project developed for our software engineering class. We had a lot of fun making it!
    <br><br>It was a dream-team project and everyone ended up with something to be proud of.
    <br>
</p>
<div class="clear_bordering"
    style="margin-top: 20px; padding-top: 30px; padding-top: 30px; background-color: rgba(46, 46, 46, 0.8);">

    <div class="container" style="text-align: center;">
        <div class="column">
            <a href="https://github.com/Kavazar">
                <img src="https://github.com/Kavazar.png" height="90" class="img_center">
                <br>
                Andrew Anguish
            </a>
            <br>
            Webhosting and Domain
        </div>
        <div class=" column">
            <a href="https://github.com/Eliza-Danila">
                <img src="https://github.com/Eliza-Danila.png" height="90" class="img_center">
                <br>
                Eliza Danila
            </a>
            <br>
            Visual Design and UI
        </div>
        <div class="column">
            <a href="https://github.com/EthanRDoesMC">
                <img src="static/images/ethan.jpg" height="90" class="img_center">
                <br>
                Ethan Chaffin
            </a>
            <br>
            Project Lead; Quiz Flow and Form System
        </div>
        <div class="column">
            <a href="https://github.com/nabeelsislam">
                <img src="https://github.com/nabeelsislam.png" height="90" class="img_center">
                <br>
                Nabeel Islam
            </a>
            <br>
            Meeting Minutes; Quiz Questions and User System
        </div>
        <div class="column">
            <a href="https://github.com/84kilos">
                <img src="https://github.com/84kilos.png" height="90" class="img_center">
                <br>
                Miles Phengsykeo
            </a>
            <br>
            Template Builder and Question Generation
        </div>
        <div class="column">
            <a href="https://github.com/rjv-code">
                <img src="https://github.com/rjv-code.png" height="90" class="img_center">
                <br>
                Ryu Vongsaly
            </a>
            <br>
            Quiz Questions
        </div>
        <div class="column">
            <a href="https://github.com/Steven-sjs8m">
                <img src="https://github.com/Steven-sjs8m.png" height="90" class="img_center">
                <br>
                Steven Sewell
            </a>
            <br>
            Database Design and Quiz Questions
        </div>
        <!--{#
        Hey, future devs! Prof. Smith told us there might be more of y'all.
        Please don't delete us! If you'd add your names to the list, preferably under a <hr>,
        it would be really cool.
        #}-->
    </div>
</div>

<!-- requirements -->
<div class="clear_bordering" style="margin-top: 20px; background-color: rgba(46, 46, 46, 0.8);">
    <h3>Packages</h3>
    <p><i>Our <samp>requirements.txt</samp> appears as such:</i></p>
    <pre><code>
        Flask>=2.3
        Jinja2>=3.1
        python-dotenv>=1.0
        supabase
        pygments
        Flask-Session
        flask-wtf
        bcrypt
        flask-login
    </code></pre>
</div>
{% endblock %}