{% extends "base.html" %}

{% block body %}
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<h1 style="text-align: center; font-size: 65px;font-family: monospace;">Credits</h1>
<p style="text-align: center;;">
    Ctrl-Study is a group project developed for our software engineering class. We had a lot of fun making it!
    <br>It was a dream-team project and everyone ended up with something to be proud of.
    <br>
</p>
<div class="clear_bordering" style="margin-top: 20px; background-color: rgba(46, 46, 46, 0.8);">
    <h3>Developed by</h3>
    <p><i>In no particular (albeit alphabetical) order:</i></p>
    <!--eliza i am so so sorry for my html sins-->
    <!--also if we can get a current-day pic for everyone that'd be sick, good portfolio moment-->
    <!-- for now i elected to just load from github-->
<ul style="list-style-type: circle;
           display: grid;
           gap: 20px;">
    <li>
        <a href="https://github.com/Kavazar">
            <img src="https://github.com/Kavazar.png" height="50">
            Andrew Anguish
        </a>
        <br>Webhosting and domain
    </li>
    <li>
        <a href="https://github.com/Eliza-Danila">
            <img src="https://github.com/Eliza-Danila.png" height="50">
            Eliza Danila
        </a>
        <br>Visual design and UI
    </li>
    <li>
        <a href="https://github.com/EthanRDoesMC">
            <img src="https://github.com/EthanRDoesMC.png" height="50">
            Ethan Chaffin
        </a>
        <br>Project lead; quiz flow and form system
    </li>
    <li>
        <a href="https://github.com/nabeelsislam">
            <img src="https://github.com/nabeelsislam.png" height="50">
            Nabeel Islam
        </a>
        <br>Meeting minutes; quiz questions and user system
    </li>
    <li>
        <a href="https://github.com/84kilos">
            <img src="https://github.com/84kilos.png" height="50">
            Miles Phengsykeo
        </a>
        <br>Template builder and question generation
    </li>
    <li>
        <a href="https://github.com/rjv-code">
            <img src="https://github.com/rjv-code.png" height="50">
            Ryu Vongsaly
        </a>
        <br>Many many quiz questions
    </li>
    <li>
        <a href="https://github.com/Steven-sjs8m">
            <img src="https://github.com/Steven-sjs8m.png" height="50">
            Steven Sewell
        </a>
        <br>Database design and quiz questions
    </li>
    <!--{#
     Hey, future devs! Prof. Smith told us there might be more of y'all.
     Please don't delete us! If you'd add your names to the list, preferably under a <hr>,
     it would be really cool.
    #}-->
</ul>
</div>

<div class="clear_bordering" style="margin-top: 20px; background-color: rgba(46, 46, 46, 0.8);">
    <h3>Packages</h3>
    <p><i>Our <samp>requirements.txt</samp> appears as such:</i></p>
    <pre><code>
        Flask>=2.3
        Jinja2>=3.1
        python-dotenv>=1.0
        supabase
        pygments
        Flask-Session
        flask-wtf
        bcrypt
        flask-login
    </code></pre>
</div>
{% endblock %}
