{% extends "base.html" %}

{% block body %}
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<h1 style="text-align: center; font-size: 65px;font-family: monospace;">Credits</h1>
<p style="text-align: center;;">
    Ctrl-Study is a group project developed for our software engineering class. We had a lot of fun making it!
    <br><br>It was a dream-team project and everyone ended up with something to be proud of.
    <br>
</p>

<!-- developers -->
<div class="clear_bordering"
    style="margin-top: 20px; padding-top: 30px; padding-top: 30px; background-color: rgba(46, 46, 46, 0.8);">

    <div class="container" style="text-align: center">
        <!-- Andrew Anguish -->
        <div class="card">
            <div class="card-image-container">
                <img src="static/images/andrew.png">
            </div>
            <a href="https://github.com/Kavazar">
                <p class="card-title">Andrew Anguish</p>
            </a>
            <p class="card-des">
                Webhosting and Domain
            </p>
        </div>

        <!-- Eliza Danila -->
        <div class="card">
            <div class="card-image-container">
                <img src="static/images/eliza.jpeg">
            </div>
            <a href="https://github.com/Eliza-Danila">
                <p class="card-title">Eliza Danila</p>
            </a>
            <p class="card-des">
                Visual Design and UI
            </p>
        </div>

        <!-- Ethan Chaffin -->
        <div class="card">
            <div class="card-image-container">
                <img src="static/images/ethan.jpg">
            </div>
            <a href="https://github.com/EthanRDoesMC">
                <p class="card-title">Ethan Chaffin</p>
            </a>
            <p class="card-des">
                Project Lead; Quiz Flow and Form System
            </p>
        </div>

        <!-- Miles Phengsykeo -->
        <div class="card">
            <div class="card-image-container">
                <img src="static/images/miles.png">
            </div>
            <a href="https://github.com/84kilos">
                <p class="card-title">Miles Phengsykeo</p>
            </a>
            <p class="card-des">
                Template Builder and Question Generation
            </p>
        </div>

        <!-- Nabeel Islam -->
        <div class="card">
            <div class="card-image-container">
                <img src="static/images/nabeel.png">
            </div>
            <a href="https://github.com/nabeelsislam">
                <p class="card-title">Nabeel Islam</p>
            </a>
            <p class="card-des">
                Meeting Minutes; Quiz Questions and User System
            </p>
        </div>

        <!-- Ryu Vongsaly -->
        <div class="card">
            <div class="card-image-container">
                <img src="static/images/ryu.png">
            </div>
            <a href="https://github.com/rjv-code">
                <p class="card-title">Ryu Vongsaly</p>
            </a>
            <p class="card-des">
                Quiz Questions
            </p>
        </div>

        <!-- Steven Sewell -->
        <div class="card">
            <div class="card-image-container">
                <img src="static/images/steven.jpg">
            </div>
            <a href="https://github.com/Steven-sjs8m">
                <p class="card-title">Steven Sewell</p>
            </a>
            <p class="card-des">
                Database Design and Quiz Questions
            </p>
        </div>

        <!--{#
        Hey, future devs! Prof. Smith told us there might be more of y'all.
        Please don't delete us! If you'd add your names to the list, preferably under a <hr>,
        it would be really cool.
        #}-->
    </div>
</div>

<!-- requirements -->
<div class="clear_bordering" style="margin-top: 20px; background-color: rgba(46, 46, 46, 0.8);">
    <h3>Packages</h3>
    <p><i>Our <samp>requirements.txt</samp> appears as such:</i></p>
    <pre><code>
        Flask>=2.3
        Jinja2>=3.1
        python-dotenv>=1.0
        supabase
        pygments
        Flask-Session
        flask-wtf
        bcrypt
        flask-login
    </code></pre>
</div>
{% endblock %}