{% extends "base.html" %} {% block body %}
<h1>Question</h1>
<p><b>{{ form.prompt }}</b></p>

<p>{{ currentQuestion }} / {{ totalQuestions }}</p>
<progress id="progress" value="{{ currentQuestion }}" max="{{ totalQuestions }}"/>
<div style="width: fit-content">{{ form.format_html()|safe }}</div>
<form style="tab-size: 4" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ form.answer(style="list-style:none") }}
    <h3>{{ status }}</h3>
    {% if showingAnswer %}
    <p>{{ form.feedback }}</p>
    {% endif %}
    <p>
        {{ form.submit(value='Next' if showingAnswer else 'Submit') }}
    </p>
</form>

{% endblock %}
