{% extends "base.html" %} {% block body %}
<div style="padding-left: 10px">
    <div style="margin: 15px">
        <h1 style="text-align: center; font-size: 50px;font-family: monospace; margin-bottom: 10px;">Quiz</h1>
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="container h-aligning">
                <div class="column">
                    <h3 style="font-size: 23px;">Select Question Types</h3>
                    <div class="clear_bordering_fixed" style="margin-top:25px; margin-bottom: 40px;">
                        {{ form.questionTypes(style="list-style:none") }}
                    </div>
                    <button type="button" id="select-all-questionTypes">Toggle All Question Types</button>
                </div>
                <div class="column">
                    <h3 style="font-size: 23px;">Select Tags</h3>
                    <div class="clear_bordering_fixed">
                        {{ form.tagSelection(style="list-style:none") }}
                    </div>
                    <button type="button" id="select-all-tags">Toggle All Tags</button>
                </div>
                <div class="column">
                    <h3 style="font-size: 23px;">Select Languages</h3>
                    <div class="clear_bordering_fixed">
                        {{ form.languageSelection(style="list-style:none") }}
                    </div>
                    <button type="button" id="select-all-languages">Toggle All Languages</button>
                </div>
                <div class="column">
                    <h3 style="font-size: 23px;">Question Count</h3>
                    {{ form.questionCount }}
                </div>
                <div class="column">
                    <h3 style="font-size: 23px;">Seed</h3>
                    {{ form.seed }}
                </div>
            </div>

    </div>
    <br>
    <hr>
    <div style="text-align: center; margin: 20px;">
        {{ form.submit(class="btn") }}
    </div>
    </form>

    <script>
        document.getElementById('select-all-questionTypes').addEventListener('click', function (event) {
            const checkboxes = document.querySelectorAll('input[name="questionTypes"]');
            var toggle = (checkboxes[0].checked == true) ? false : true;
            checkboxes.forEach(checkbox => {
                checkbox.checked = toggle;
            });
        });
        document.getElementById('select-all-tags').addEventListener('click', function (event) {
            const checkboxes = document.querySelectorAll('input[name="tagSelection"]');
            var toggle = (checkboxes[0].checked == true) ? false : true;
            checkboxes.forEach(checkbox => {
                checkbox.checked = toggle;
            });
        });
        document.getElementById('select-all-languages').addEventListener('click', function (event) {
            const checkboxes = document.querySelectorAll('input[name="languageSelection"]');
            var toggle = (checkboxes[0].checked == true) ? false : true;
            checkboxes.forEach(checkbox => {
                checkbox.checked = toggle;
            });
        });
    </script>
</div>

{% endblock %}