{% extends "base.html" %} {% block body %}

<div class="clear_bordering container" style="padding-left: 30px">
    <div class="column v-aligning" style="margin-bottom: 200px">
        <h1 style="font-family: monospace; margin-bottom: 10px;">Results</h1>

        <div style="margin-bottom: 50px; text-align: left;">
            <p>
                You scored a <strong>blank %</strong>
            </p>
        </div>
    </div>

    <div class="clear_bordering column" style="padding: 20px">
        text
    </div>
</div>
{% endblock %}